$color-white: #d8e6f1;
$color-black: #14161f;
$color-bright: #fff557;

.main-page {
    color: $color-white;
    min-height: 100svh;
    background-color: $color-black;
}

.block-wrapper {
    padding-left: 16px;
    padding-right: 16px;
}

.cursor {
    position: fixed;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $color-bright;
    transition: transform 300ms;
    pointer-events: none;
    mix-blend-mode: difference;
}

@media (min-width: 1200px) {
    .block-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1600px) {
    .block-wrapper {
        padding-left: calc(50% - 760px);
        padding-right: calc(50% - 760px);
    }
}

// &:hover ~ .cursor {
//     transform: scale(1.66);
// }
