$color-white: #d8e6f1;
$color-white04: rgba(216, 230, 241, 0.4);
$color-white00: rgba(216, 230, 241, 0);
$color-black: #14161f;
$color-bright: #fff557;

a {
    color: $color-white;
}

.main-page {
    color: $color-white;
    min-height: 100svh;
    background-color: $color-black;
}

.main-page-lock {
    position: fixed;
    top: 0;
    width: 100svw;
}

.block-wrapper {
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    position: fixed;
    z-index: 30;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-110%);
    transition: 600ms;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        backdrop-filter: blur(12px);
        background: linear-gradient(180deg, #14161f -124.12%, rgba(20, 22, 31, 0) 100%);
        height: 100%;
        width: 100%;
    }
    &__burger-checkbox {
        display: none;
    }
    &__logo {
        width: 103px;
        height: 24px;
        position: relative;
        z-index: 30;
    }
    &__logo-img {
        width: 100%;
        height: 100%;
    }
    &__burger {
        position: relative;
        z-index: 30;
    }
    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__nav-element {
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.04em;
    }
    &__nav-link {
        max-height: 40px;
        position: relative;
    }
    &_isActive {
        transform: translateY(0%);
    }
}

.burger {
    &__checkbox {
        display: none;
    }
    &__body {
        width: 32px;
        height: 32px;
        position: relative;
        & span {
            width: 24px;
            height: 2px;
            background-color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 400ms;
            &:first-child {
                top: 30%;
            }
            &:last-child {
                top: 70%;
            }
        }
    }
    &__body-active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &__body-active span:nth-child(2) {
        opacity: 0;
    }
    &__body-active span:nth-child(3) {
        top: 45%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
}

.nav-link {
    overflow: hidden;
    width: fit-content;
    display: flex;
    justify-content: center;
    &__text-top {
        transform-origin: right;
        transition: transform 400ms;
    }
    &:hover &__text-top {
        transform: rotate(30deg) translateY(-36px);
    }
    &__text-bottom {
        text-decoration: underline;
        transform: rotate(30deg);
        transform-origin: left;
        transition: transform 400ms;
    }
    &:hover &__text-bottom {
        transform: rotate(0deg) translateY(-36px);
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 20px 0 24px;
    border: 2px solid $color-white04;
    border-radius: 48px;
    color: $color-white;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.04em;
    position: relative;
    z-index: 30;
    overflow: hidden;
    transition: 400ms;
    &:hover {
        border-color: $color-white00;
        &::before {
            transform: translateY(0px);
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: $color-black;
        background-color: $color-bright;
        transform: translateY(62px);
        transition: 400ms;
        border-radius: 48px;
    }
    &__body {
        max-height: 18px;
        overflow: hidden;
    }
    &__text-top {
        transition: 400ms;
        transform-origin: right;
    }
    &:hover &__text-top {
        transform: rotate(30deg) translateY(-18px);
    }
    &__text-bottom {
        transition: 400ms;
        transform-origin: left;
        transform: rotate(30deg);
        color: $color-black;
    }
    &:hover &__text-bottom {
        transform: rotate(0deg) translateY(-18px);
    }
}

.switch-button {
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.06em;
    background: transparent;
    color: $color-white;
    display: flex;
    gap: 8px;
    transition: 400ms;
    padding-bottom: 18px;
    position: relative;
    &:hover {
        color: $color-bright;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        transition: 500ms;
    }
    &:hover::before {
        width: 100%;
        background-color: $color-bright;
    }
    &_active {
        color: $color-bright;
        &::before {
            background-color: $color-bright;
            width: 100%;
        }
    }
    &__counter {
        font-size: 12px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.04em;
        border: 2px solid $color-white;
        border-radius: 100%;
        padding: 4px 7px;
        display: inline-block;
    }
    &:hover &__counter {
        border-color: $color-bright;
    }
    &_active &__counter {
        border-color: $color-bright;
    }
}

.button-gradient {
    padding: 41px 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.06em;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    background: linear-gradient(-45deg, #f2bc1c, #9c64fc);
    background-size: 400% 400%;
    animation: buttonGradient 10s ease infinite;
    border-radius: 104px;
}

.cursor {
    position: fixed;
    z-index: 50;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $color-bright;
    transition: transform 300ms;
    pointer-events: none;
    mix-blend-mode: difference;
    &__hover {
        transform: scale(1.66);
    }
}

.first-screen {
    min-height: 100svh;
    overflow: hidden;
    &__body {
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    &__title-logo-wrapper {
        min-height: 100svh;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 32px;
        padding-bottom: 16px;
    }
    &__title {
        font-size: 31px;
        font-weight: 500;
        line-height: 90%;
        letter-spacing: -0.04em;
        text-align: center;
        color: $color-black;
        animation: title-to-top 1.2s linear forwards;
    }
    &__logo-wrapper {
        height: auto;
        width: 100%;
        animation: logo-to-top 1.2s linear forwards;
    }
    &__logo-el {
        fill: $color-black;
    }
    &__ticker {
        color: $color-black;
        width: 200%;
        position: absolute;
        bottom: -100px;
    }
    &__ticker-custom {
        font-size: 29px;
        line-height: 1;
        letter-spacing: -0.06em;
        border: 3px solid $color-black;
        border-radius: 48px;
        padding: 4px 12px 8px;
        height: fit-content;
    }
    &__ticker-element {
        font-size: 36px;
        font-weight: 500px;
        line-height: 0.9;
        letter-spacing: -0.04em;
    }
    &__ticker-img-wrapper {
        margin-left: 8px;
        width: 23px;
        height: 18px;
        align-self: start;
        margin-top: 10px;
    }
}

.ticker {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;
    &__body {
        display: flex;
        align-items: center;
        gap: 8px;
        & span img {
            width: 100%;
            height: 100%;
        }
    }
}

.svg-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    top: 0;
    left: 0;

    &__svg {
        position: absolute;
        top: 0;
        left: -50%;
        filter: blur(148px);
        mix-blend-mode: lighten;
    }
}

.description {
    overflow: hidden;
    &__body {
        padding: 64px 0;
    }
    &__text {
        font-size: 36px;
        font-weight: 500;
        line-height: 90%;
        letter-spacing: -0.04em;
        text-align: center;
    }
    &__svg {
        width: 32px;
        height: 32px;
        vertical-align: bottom;
        margin: 0 8px 0 2px;
    }
    &__ticker {
        height: 140px;
        position: relative;
        & .ticker__body {
            gap: 18px;
        }
    }
    &__ticker-wrapper {
        color: $color-black;
        background: $color-bright;
        padding: 6px 0 8px;
        position: absolute;
        top: -40%;
        right: -30%;
    }
    &__ticker-element {
        font-size: 21px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.06em;
        min-width: 280px;
    }
    &__ticker-image-wrapper {
        width: 24px;
        height: 24px;
    }
}

.services {
    margin-bottom: 80px;
    &__header {
        display: flex;
        flex-direction: column;
        row-gap: 27px;
        padding-bottom: 40px;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
    }
    &__switcher {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__card-list {
        display: grid;
        grid-template-columns: minmax(300px, 400px);
        justify-content: center;
        row-gap: 40px;
        margin-bottom: 56px;
        &_show {
            animation: showCards 1.6s;
        }
        &_hide {
            animation: hideCards 1.6s;
        }
    }
    &__small-cards-list {
        display: grid;
        grid-template-columns: minmax(300px, 400px);
        justify-content: center;
        row-gap: 40px;
        margin-bottom: 40px;
    }
    &__button {
        max-width: 186px;
        margin: 0 auto 64px;
    }
}

.card {
    transition: 400ms;
    &:hover {
        color: $color-bright;
    }
    &:hover &__header {
        border-color: $color-bright;
    }
    &:hover &__img {
        stroke: $color-bright;
    }
    &:hover &__tag {
        border-color: $color-bright;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-top: 24px;
        margin-bottom: 21px;
        border: 2px solid $color-white;
        border-bottom: none;
        transition: border-color 400ms;
    }
    &__title {
        font-size: 32px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-align: center;
        max-width: 260px;
    }
    &__image-wrapper {
        width: 70px;
        height: 70px;
        padding-bottom: 3px;
        & svg {
            width: 100%;
            height: 100%;
        }
    }
    &__img {
        transition: stroke 400ms;
    }
    &__subtitle {
        font-size: 21px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.06em;
        padding-bottom: 12px;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.04em;
        margin-bottom: 24px;
    }
    &__tags-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }
    &__tag {
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.06em;
        padding: 4px 12px 6px;
        border: 2px solid $color-white;
        border-radius: 48px;
        transition: border-color 400ms;
    }
}

.small-card {
    padding-bottom: 40px;
    border-bottom: 2px solid $color-white;
    transition: 400ms;
    &:hover {
        color: $color-bright;
        border-color: $color-bright;
    }
    &:hover &__img {
        fill: $color-bright;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    &__title {
        font-size: 21px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.06em;
    }
    &__image-wrapper {
        width: 16px;
        height: 16px;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.04em;
    }
}

.footer {
    min-height: 100svh;
    padding-bottom: 16px;
    display: flex;
    align-items: end;
    position: relative;
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 54px;
    }
    &__top-content-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 54px;
    }
    &__aside-links-list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    &__aside-link {
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.06em;
        color: $color-black;
        height: 17px;
        position: relative;
        z-index: 1;
        &:hover .nav-link__text-top {
            transform: rotate(30deg) translateY(-17px);
        }
        &:hover .nav-link__text-bottom {
            transform: rotate(0deg) translateY(-17px);
        }
    }
    &__contacts-list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    &__contacts-link {
        font-size: 21px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: $color-black;
        height: 21px;
        position: relative;
        z-index: 1;
        &:hover .nav-link__text-top {
            transform: rotate(30deg) translateY(-21px);
        }
        &:hover .nav-link__text-bottom {
            transform: rotate(0deg) translateY(-21px);
        }
    }
    &__conversation-link {
        display: flex;
        justify-content: start;
        width: 100%;
        font-size: 51px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: $color-black;
        text-transform: uppercase;
        height: 102px;
        position: relative;
        z-index: 1;
        &:hover .nav-link__text-top {
            transform: rotate(30deg) translateY(-102px);
        }
        &:hover .nav-link__text-bottom {
            transform: rotate(0deg) translateY(-102px);
        }
    }
    & .svg-animation svg {
        top: 50%;
    }
}

@media (min-width: 524px) {
    .footer {
        &__conversation-link {
            height: 51px;
            &:hover .nav-link__text-top {
                transform: rotate(30deg) translateY(-51px);
            }
            &:hover .nav-link__text-bottom {
                transform: rotate(0deg) translateY(-51px);
            }
        }
    }
}

@media (min-width: 768px) {
    .first-screen {
        &__title {
            max-width: 460px;
        }
        &__ticker {
            bottom: -120px;
        }
    }

    .svg-animation {
        &__svg {
            top: -20%;
            left: -80%;
        }
    }

    .description {
        &__body {
            margin-bottom: 53px;
        }
        &__text {
            max-width: 600px;
            margin: 0 auto;
        }
        &__ticker-wrapper {
            top: -70%;
        }
    }

    .services {
        margin-bottom: 120px;
        &__header {
            flex-direction: row;
            justify-content: space-between;
        }
        &__switcher {
            width: 50%;
            max-width: 480px;
        }
        &__card-list {
            grid-template-columns: repeat(2, minmax(350px, 480px));
            column-gap: 16px;
        }
        &__small-cards-list {
            grid-template-columns: repeat(3, minmax(200px, 480px));
            column-gap: 40px;
        }
        &__button {
            margin-bottom: 56px;
        }
    }

    .card {
        &__image-wrapper {
            width: auto;
            height: auto;
            max-width: 220px;
            max-height: 220px;
        }
    }

    .footer {
        &__content-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-items: end;
            row-gap: 150px;
        }
        &__top-content-wrapper {
            flex-direction: row-reverse;
            column-gap: 105px;
        }
        &__contacts-link {
            width: 271px;
            display: flex;
            justify-content: start;
        }
    }
}

@media (max-width: 1199px) {
    .header {
        &__nav {
            position: fixed;
            inset: 0;
            z-index: 10;
            min-height: 100svh;
            width: 100svw;
            background-color: $color-black;
            padding: 124px 16px 40px;
            opacity: 0;
            transform: translateX(-110%);
            transition: opacity 0.4s, transform 0s 0.4s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__nav-show {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 400ms, transform 0s;
        }
    }
}

@media (min-width: 1200px) {
    .block-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header {
        padding-top: 34px;
        padding-bottom: 34px;
        &__burger {
            display: none;
        }
        &__nav {
            display: flex;
            align-items: center;
            gap: 73.73px;
        }
        &__nav-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 80px;
        }
        &__nav-element:last-child {
            margin-left: 135.38px;
        }
        &__nav-element {
            font-size: 18px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -0.72px;
        }
        &__nav-link {
            max-height: 20px;
        }
    }

    .nav-link {
        &:hover &__text-top {
            transform: rotate(30deg) translateY(-18px);
        }
        &:hover &__text-bottom {
            transform: rotate(0deg) translateY(-18px);
        }
    }

    .button {
        min-width: 189px;
        padding: 10px 0 14px;
        &::before {
            transform: translateY(42px);
        }
    }

    .switch-button {
        font-size: 47px;
    }

    .button-gradient {
        font-size: 47px;
        padding: 46px 0;
    }

    .first-screen {
        &__title {
            font-size: 47px;
            max-width: 720px;
        }
        &__title-logo-wrapper {
            gap: 58px;
            padding-bottom: 40px;
        }
        &__ticker {
            bottom: -140px;
        }
        &__ticker-element {
            font-size: 76px;
        }
        &__ticker-img-wrapper {
            width: 32px;
            height: 26px;
            margin-top: 21px;
        }
    }

    .svg-animation {
        padding-top: 640px;
        &__svg {
            top: 0;
            left: -40%;
        }
    }

    .description {
        &__body {
            padding: 154px 0;
        }
        &__text {
            font-size: 76px;
            max-width: 1260px;
            margin: 0 auto;
        }
        &__svg {
            width: 52px;
            height: 52px;
            margin: 0 14px 0 4px;
        }
        &__ticker {
            height: 220px;
        }
        &__ticker-wrapper {
            top: -90%;
        }
        &__ticker-element {
            font-size: 29px;
            min-width: 390px;
        }
    }

    .services {
        margin-bottom: 200px;
        &__title {
            font-size: 123px;
        }
        &__header {
            justify-content: start;
            column-gap: 295px;
        }
        &__card-list {
            padding-bottom: 120px;
            grid-template-columns: repeat(3, minmax(350px, 480px));
        }
        &__card-list .card:nth-child(1) {
            animation: card1;
            animation-timeline: view();
        }
        &__card-list .card:nth-child(2) {
            animation: card2;
            animation-timeline: view();
        }
        &__card-list .card:nth-child(3) {
            animation: card3;
            animation-timeline: view();
        }
        &__small-cards-list {
            margin-bottom: 80px;
        }
        &__button {
            margin-bottom: 82px;
        }
    }

    .card {
        position: relative;
        &::after {
            content: '...';
            position: absolute;
            left: 0;
            margin-top: 8px;
            line-height: 20%;
            letter-spacing: -0.02em;
            text-align: center;
            font-size: 34px;
            width: 45px;
            height: 30px;
            border: 2px solid $color-white;
            border-radius: 48px;
            transition: opacity 600ms;
        }
        &:hover::after {
            opacity: 0;
        }
        &:hover &__header {
            padding-top: 60px;
        }
        &:hover &__image-wrapper {
            width: 100px;
        }
        &:hover &__tags-list {
            max-height: 500px;
        }
        &__header {
            transition: padding-top 600ms;
        }
        &__title {
            font-size: 47px;
        }
        &__image-wrapper {
            width: 220px;
            height: 220px;
            transition: width 600ms;
        }
        &__subtitle {
            font-size: 29px;
        }
        &__text {
            font-size: 18px;
        }
        &__tags-list {
            max-height: 80px;
            overflow: hidden;
            transition: max-height 600ms;
        }
        &__tag {
            font-size: 18px;
        }
    }

    .small-card {
        &__title {
            font-size: 29px;
        }
        &__text {
            font-size: 18px;
        }
    }

    .footer {
        padding-bottom: 40px;
        &__top-content-wrapper {
            width: 100%;
            justify-content: start;
            align-items: center;
            column-gap: 20%;
        }
        &__contacts-list {
            flex-direction: row;
        }
        &__aside-link {
            font-size: 18px;
            height: 18px;
            &:hover .nav-link__text-top {
                transform: rotate(30deg) translateY(-22px);
            }
            &:hover .nav-link__text-bottom {
                transform: rotate(0deg) translateY(-22px);
            }
        }
        &__contacts-link {
            font-size: 29px;
            height: 29px;
            &:hover .nav-link__text-top {
                transform: rotate(30deg) translateY(-29px);
            }
            &:hover .nav-link__text-bottom {
                transform: rotate(0deg) translateY(-29px);
            }
        }
        &__conversation-link {
            max-width: 1200px;
            height: 123px;
            font-size: 123px;
            &:hover .nav-link__text-top {
                transform: rotate(30deg) translateY(-123px);
            }
            &:hover .nav-link__text-bottom {
                transform: rotate(0deg) translateY(-123px);
            }
        }
    }
}

@media (min-width: 1600px) {
    .block-wrapper {
        padding-left: calc(50% - 760px);
        padding-right: calc(50% - 760px);
    }
    .first-screen {
        &__ticker {
            bottom: -180px;
        }
    }
    .card {
        max-width: 480px;
    }
    .services {
        &__button {
            margin-bottom: 154px;
        }
    }
    .footer {
        &__top-content-wrapper {
            column-gap: 10%;
        }
        &__aside-links-list {
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
        }
    }
}

@keyframes title-to-top {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes logo-to-top {
    0% {
        transform: translateY(130%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes card1 {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes card2 {
    from {
        transform: translateY(400px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes card3 {
    from {
        transform: translateY(110px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes showCards {
    0% {
        transform: translateY(0px);
        opacity: 1;
        width: auto;
        height: auto;
        position: static;
        overflow: visible;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        transform: translateY(200px);
        position: absolute;
        top: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
        overflow: hidden;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        width: auto;
        height: auto;
        position: static;
        overflow: visible;
    }
}

@keyframes hideCards {
    0% {
        transform: translateY(0px);
        opacity: 1;
        width: auto;
        height: auto;
        position: static;
        overflow: visible;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        transform: translateY(200px);
        position: absolute;
        top: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
        overflow: hidden;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        width: auto;
        height: auto;
        position: static;
        overflow: visible;
    }
}

@keyframes buttonGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
